{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
        <div class="row">

            <aside class="col-lg-8">
                <div class="card">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{order.full_name}}</p>
                        <p class="card-text mb-0">{{order.full_address}}</p>
                        <p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
                        <p class="card-text mb-0">{{order.country}}</p>
                        <p class="card-text mb-0">{{order.email}}</p>
                        <p class="card-text mb-0">{{order.phone}}</p>
                        {% if order.order_note %}
                        <b>Order Note: </b> {{order.order_note}}
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$ {{ cart_item.sub_total }}</var>
                                            <small class="text-muted"> $ {{ cart_item.product.price }} each </small>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">$ {{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"> $ {{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong>$ {{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <div class="payment-options text-right">
                            <p class="card-text">Chapa</p>
                            <form method="POST" action="https://api.chapa.co/v1/hosted/pay" class="d-inline-block">
                                {% csrf_token %}
                                <input type="hidden" name="public_key" value="CHAPUBK_TEST-AS31hgob0uC1ZDdvloaj5kQFutrc0ijs" />
                                <input type="hidden" name="tx_ref" id="tx_ref" value="uniqueid" />
                                <input type="hidden" name="amount" value="{{ grand_total }}" />
                                <input type="hidden" name="currency" value="ETB" />
                                <input type="hidden" name="email" value="{{ order.email }}" />
                                <input type="hidden" name="first_name" value="{{ order.first_name }}" />
                                <input type="hidden" name="last_name" value="{{ order.last_name }}" />
                                <input type="hidden" name="title" value="Let us do this" />
                                <input type="hidden" name="description" value="Paying with Confidence with Chapa" />
                                <input type="hidden" name="logo" value="https://chapa.link/asset/images/chapa_swirl.svg" />
                                <input type="hidden" name="callback_url" value="http://{{ request.get_host }}{% url 'chapa_callback' %}" />
                                <input type="hidden" name="return_url" value="http://{{ request.get_host }}{% url 'order_complete' %}?order_number={{ order.order_number }}" />
                                <input type="hidden" name="meta[title]" value="test" />
                                <button type="submit" class="btn btn-primary btn-block" onclick="call()">Pay Now</button>
                            </form>
                            <hr>
                            <div id="paypal-button-container" class="d-inline-block">
                                <!-- PayPal Button Will Load -->
                            </div>
                        </div>
                        <hr>
                        <p class="text-center mb-3">
                            <!-- <img src="{% static './images/misc/payments.png' %}" height="26"> -->
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<script>
    var unique = document.getElementById("tx_ref")
    function call(){
        var uniqueid = "negade-tx" + Math.random().toString(16).slice(2)
        unique.value = uniqueid
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var amount = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{order.order_number}}"
    var payment_method = 'PayPal'
    var redirect_url = "{% url 'order_complete' %}"

    paypal.Buttons({
        style: {
            color: 'blue',
            shape: 'rect',
            label: 'pay',
            height: 40,
             
            width: '100%'
            
        },
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details);
                sendData();
                function sendData(){
                    fetch(url, {
                        method : "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify({
                            orderID: orderID,
                            transID: details.id,
                            payment_method: payment_method,
                            status: details.status,
                        }),
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                    });
                }
            });
        }
    }).render('#paypal-button-container');
</script>

{% endblock %}